---
layout: page
title: Articles
description: Article posts.
---




<div class="w3-container w3-content" style="max-width:980px">
  <div class="w3-white">
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        {% for portfolio in site.portfolio %}
        <div class="w3-third w3-margin-bottom">
          <img src="{{ portfolio.image }}" alt="{{ portfolio.image }} style="width:100%" class="w3-hover-opacity"">  
          <div class="w3-container w3-light-grey">
            <br><p><b>Project 1</b></p>
            <h5><b><a href="{{ portfolio.url }}">{{ portfolio.title }}</a></b></h5>
            <button class="button-dark" onclick="<a href="{{ portfolio.url }}"></a>View Project</button>
          </div>
        </div>
       {% endfor %}
      </div>
  </div>
</div>
</div>

{% for post in site.posts %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i> </time>
      {{ post.excerpt }}
{% endfor %}
