---
layout: page
title: Blog
description: Most recent blog posts.
---

<div class="w3-container w3-content" style="max-width:800px">
  <div class="w3-white">
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        {% for portfolio in site.portfolio %}
        <div class="w3-third w3-margin-bottom">
          <img src="{{ portfolio.image }}" alt="{{ portfolio.image }} style="width:100%" class="w3-hover-opacity"">  
          <div class="w3-container w3-light-grey">
            <br><p><b>Project 1</b></p>
            <h5><b><a href="{{ portfolio.url }}">{{ portfolio.title }}</a></b></h5>
            <button class="button-dark" onclick="<a href="{{ portfolio.url }}"></a>"View Project</button>
          </div>
        </div>
       {% endfor %}
      </div>
  </div>
</div>
</div>

{% for blog in site.blog %}
  <h3><a href="{{ blog.url }}">{{ blog.title }}</a></h3>
    <p><i>{{ blog.tags }}</i></p>
    <time datetime="{{ blog.date | date_to_xmlschema }}" class="by-line"> <i>{{ blog.date | date_to_string }}</i> </time>
      {{ blog.excerpt }}
{% endfor %}

{% for education in site.education %}
<h3><a href="{{ education.url }}">{{ education.title }}</a><h3>
  <p><i>{{ education.tags }}</i></p>
{% endfor %}
