---
layout: page
title: Blog
description: Most recent blog posts.
---

{% for portfolio in site.portfolio %}
  <h3><a href="{{ portfolio.url }}">{{ portfolio.title }}</a></h3>
{% endfor %}

{% for blog in site.blog %}
  <h3><a href="{{ blog.url }}">{{ blog.title }}</a></h3>
    <p><i>{{ blog.tags }}</i></p>
    <time datetime="{{ blog.date | date_to_xmlschema }}" class="by-line"> <i>{{ blog.date | date_to_string }}</i> </time>
      {{ blog.excerpt }}
{% endfor %}

{% for education in site.education %}
<h3><a href="{{ education.url }}">{{ education.title }}</a><h3>
  <p><i>{{ education.tags }}</i></p>
{% endfor %}
