---
layout: page
title: Case Studies
description: Portfolio Pieces.
nav: case-studies
---

<h1>design art marketing</h1>

<div class="w3-row block">
       <div class="w3-col w3-container m2">
       </div>
      <div class="w3-col w3-container m8">
      <p>As a product designer, I'd like to present you with three case studies of my work. These studies focus on various aspects of design delivery; from research through to production wires and product strategy.</p>
      <p>I hope you enjoy the work I've done. Please feel free to reach out with any questions or comments; coia.nac@gmail.com.</p>
      </div>
    <div class="w3-col w3-container m2">
    </div>
</div>

    <h2 class="center">case studies</h2>
<div class="w3-container w3-content" style="max-width:980px">
  <div class="w3-white">
      <div class="w3-row-padding" style="margin:0 -16px">
        {% for case-studies in site.case-studies %}
        <div class="w3-third w3-margin-bottom">
          <a href="{{ case-studies.url }}">
            <img src="{{ case-studies.image }}" alt="{{ case-studies.image }} style="width:100%" class="w3-hover-opacity"">  
          </a>
          <div style="height:190px;" class="w3-container light-green">
              <h5>{{ case-studies.title }}</h5>
            {% for item in case-studies.snippet %}
                 <label-1>{{ item }} <a href="{{ case-studies.url }}">read more</a></label-1>
            {% endfor %}
          </div>
          <div style="height:10px;" class="w3-row">
          </div>
            {% for item in case-studies.tags %}
              <pill>{{ item }}</pill>
            {% endfor %}
        </div>
       {% endfor %}
      </div>
  </div>
</div>
</div>
