<div class="w3-row">
  <div class="w3-col w3-container m3">
  </div>
    <div id="nav-links">
    <div class="w3-col w3-container m2">
      <a href="{{ site.baseurl }}/">
        <logo>COIA</logo>
      </a>
    </div>
    <div class="w3-col w3-container m2">
      <a href="https://coianac.github.io/case-studies">case studies</a>
    </div>
    <div class="w3-col w3-container m2">
      <a href="https://coianac.github.io/about">about</a>
    </div>
  </div>
  <div class="w3-col w3-container m3">  
  </div>
</div>
  <script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("nav-links");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
  </script> 
</header>
  </div>
  <div class="w3-col w3-container m1">
  </div>
</div>
