<!--
<footer>
	
	<span>
		<!-- version {{ site.version }}</span> 
	<div class="w3-bar w3-black w3-hide-small button-dark">
  		<a href="http://www.instagram.com/coianac" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  		<a href="https://www.flickr.com/photos/coianac/albums" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
  		<a href="https://twitter.com/coianac" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
  		<a href="https://www.linkedin.com/in/nicolas-coia-7996624/" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
  		<!-- <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a> 
 	</div>

</footer>
-->