/*- Custom style -*/

// -- Put custom style under this point -- //

/* -- Buttons -- */
.button-light {
	background-color: #ddd;
	border: none;
	color: #000;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px 10px;
	cursor: pointer;
}

.button-light:hover {
	background-color: #f1f1f1;
}

.button-dark {
	background-color: #101010;
	border: none;
	color: #ffffff;
	padding: 10px 20px;
    	text-align: center;
 	text-decoration: none;
    	display: inline-block;
    	margin: 4px 2px 10px;
   	cursor: pointer;
}

.button-dark:hover {
    	background-color: #d3d3d3;
    	color: inherit;
}

.button-dark-foot {
	background-color: #101010;
	border: none;
	color: #ffffff;
	padding: 10px 20px;
    	text-align: center;
 	text-decoration: none;
    	display: inline-block;
    	margin: 4px 2px;
   	cursor: pointer;
}

.button-dark-foot:hover {
    	background-color: #d3d3d3;
    	color: inherit;
}


/*- newspaper columns -*/
.newspaperBAD {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/*- Table Styling -*/
table {
    	border-collapse: collapse;
    	width: 100%;
	margin: 0 0 40px 0;
}

th {
	text-align: left;
    	background-color: #e0e4e0;
}

td {
	vertical-align: top;
}

table, td, th {
	border-bottom: 1px solid #cdd4ce;
    	padding: 7px;
}

tr:hover {background-color: #e0e4e08a;
}

/* image styles */
img[src~="thumbnail"] {
  	width:300px;
}
img[src~="bordered"] {
	border: 1px solid #d3d3d3; 
}

img[src~="radius"] {
	border-radius:50%;
	border: 1px solid #d3d3d3;
}
