/* responsive image gallery */

div.gallery {
  border: 1px solid #d3d3d3;
  border-radius: 0px;
  }

div.gallery:hover {
  border: 1px solid #adadad;
  }

div.gallery img {
  width: 100%;
  height: auto;
  }

div.desc {
  padding: 10px;
  text-align: center;
	white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  }

* {
    box-sizing: border-box;
    }

/* responsive 5 */
.responsive {
  padding: 0 6px;
  float: left;
  width: 20%;
  }

@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
    }
  }

@media only screen and (max-width: 500px) {
  .responsive {
    width: 50%;
    }
  }

/*responsive 3 */
.responsive3 {
  padding: 0 6px;
  float: left;
  width: 33.33%;
  }

@media only screen and (max-width: 640px) {
  .responsive3 {
    max-width: 100%;
    margin: 6px 0;
    }
  }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  }
