/*- Typography -*/
//
// Based on the typographic scale: 12, 14, 16, 18, 21, 24, 36, 48, 60, 72.
//

body
{
	font-family : "roboto", "Helvetica Neue", "Helvetica", "Arial", serif;
  	// font-style: light;
 	font-weight: 300;
 	font-size: 14px;
 	color: #333;
	letter-spacing: 0.84px;
	line-height: 29px; /* 29px */
	margin-bottom: 0 0 10px 0; /* 10px */
}

/*- Typography for medium and small screen, based on 16px font-size -*/

p, ul, ol {
	font-size: .9em; /* 14px */
	line-height: 1.8em;
	margin-bottom: 1.5em; /* 24px/16px */
}

h1 {
	font-family : "Nanum Myeongjo", serif;
	font-size: 2.25em; /* 36px/16px */
	font-weight: 500;
	line-height: 1.8em;
	padding: 0.33335em 0; /* 12px/36px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

h2 {
	font-family : "Nanum Myeongjo", serif;
	font-size: 2.125em; /* 36px/18px */
	line-height: 1.8em;
	padding: 0.66667em 0 0 0; /* 12px/36px * 2, pnly top (Use padding instead of margin to maintain proximity with paragraph) */
}

h3 {
	font-size: 1.5em; /* 24px/18px */
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

h4 {
	font-size: 1.25em; /* 24px/18px */
	font-weight: 300;
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

h5 {
	font-size: 1em; /* 24px/18px */
	font-weight: 300;
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}
	
h6 {
	font-size: .9em; /* 24px/18px */
	font-weight: 600;
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

blockquote {
	font-family: 'nanum myeongjo';
	font-size: 15px;
    	letter-spacing: 0.74px;
	line-height: 29px;
    	padding: 20px 20px 20px 20px;
	border-bottom: 1px dashed;
    	border-color: #E8E7D7;
    	background-color: #FEFDF3;
}

/*- Typography for big screen, based on 14px font-size -*/

@media (min-width: 940px) { //Breakpoint set to 940px

p, ul, ol {
	font-size: 18px; /* 18px */
	font-weight: 300;
	letter-spacing: 0.84px;
	line-height: 29px; /* 29px */
	margin-bottom: 10px; /* 10px */
} 
hr { 
    	display: block;
    	margin-top: 0.5em;
    	margin-bottom: 0.5em;
    	margin-left: auto;
    	margin-right: auto;
    	border-style: inset;
    	border-width: .5px;
    	border-color: #B9E2AE;
} 

hr-dash { 
   	display: block;
    	margin-top: 0.5em;
    	margin-bottom: 0.5em;
    	margin-left: auto;
    	margin-right: auto;
    	border-style: inset;
	border-width: .5px;
	border-color: #B9E2AE;
	border-style: dashed;
}
	
h1 {
	font-family : "Nanum Myeongjo", serif;
	font-size: 4.3em; /* 60px */
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.06em; /* 0.84px */
	line-height: 69px;
	color: #485744;
	padding: 0 0 60px 0; /* 60px (Use padding instead of margin to maintain proximity with paragraph) */
}

h2 {
    	font-family : "Nanum Myeongjo", serif;
	font-size: 2.6em;
    	font-weight: bold;
    	letter-spacing: .84px;
    	line-height: 29px;
    	color: #485744;
    	padding: 40px 0 40px 0;
}
	
/* h2 {
	font-family : "Nanum Myeongjo", serif;
	font-size: 2.6em; /* 36px */
/*	font-style: bold;
 	letter-spacing: 0.06em; /* 0.84px */
/*	line-height: 2.071em; /* 29px */
/*	font-color: #485744;
	padding: 0 0 2.857em 0; /* 40px 
}  */

h3 {
	font-family : "Nanum Myeongjo", serif;
	font-size: 1.75em; /* 24px */
	font-weight: bold;
 	letter-spacing: 0.84px; /* 0.84px */
	line-height: 29px; /* 29px */
	padding: 0 0 0 0; /* 30px */
	margin: 0 0 30px 0;
}

h4 {
	font-family : "Nanum Myeongjo", serif;
	font-size: 1.3em; /* 18px */
	font-weight: 800;
 	letter-spacing: .75px; /* 0.75px */
	line-height: 19px; /* 19px */
	padding: 0 0 20px 0; /* 30px */
	margin: 30px 0 0 0;
}

h5 {
	font-family : "Nanum Myeongjo", serif;
	font-size: 1.2em; /* 16px */
	font-weight: 800;
	letter-spacing: 0.75px; /* 0.75px */
	line-height: 19px; /* 19px */
	padding: 0 0 20px 0; /* 20px */
}
	
h6 {
	font-family : "Nanum Myeongjo", serif;
	font-size: 1em; /* 14px */
	font-weight: normal;
	letter-spacing: .65px; /* 0.65px */
	line-height: 29px; /* 29px */
	padding: 0 0 20px 0; /* 20px */
}

label-1 {
    	font-size: 1em;
    	font-weight: lighter;
    	letter-spacing: .65px; /* .65px */
    	line-height: 20px; /* 20px */
    	padding: 0 0 5px 0; /* 5px */
}
label-2 {
    	font-size: 14px;
    	font-weight: lighter;
    	color: #9B9B9B;
    	letter-spacing: 0.65px; /* .65px */
    	line-height: 16px; /* 16px */
    	padding: 0 0 5px 0; /* 5px */
}
primary-button {
    	font-size: 18px;
    	font-weight: bold;
    	letter-spacing: 0.84px; /* .84px */
    	line-height: 29px; /* 29px */
    	padding: 0 0 5px 0; /* 5px */
}
pill {
	font-size: 12px;
    	letter-spacing: 0.56px; /* .56px */
    	line-height: 29px; /* 29px */
    	padding: 5px 5px 5px 5px;
    	border: 1px solid;
	border-radius: 4px;
	border-color: #E8E7D7;
    	background-color: #FEFDF3;
	margin-top: 5px;
}

.block-head {
	background-color: #ECFEE7;
    	border-top: 1px dashed;
    	border-top-color: #CFEBC7;
    	border-bottom: 1px solid;
    	border-bottom-color: #CFEBC7;
    	padding: 50px 0 50px 0;
	margin: 0 0 10px 0;
}

.block {
	background-color: #ECFEE7;
    	border-top: 1px dashed;
    	border-top-color: #CFEBC7;
    	border-bottom: 1px solid;
    	border-bottom-color: #CFEBC7;
    	padding: 20px 0 20px 0;
	margin: 0 0 40px 0;
}

blockquote {
	font-family: 'nanum myeongjo';
	font-size: 15px;
    	letter-spacing: 0.74px;
	line-height: 29px;
    	padding: 20px 20px 20px 20px;
	border-bottom: 1px dashed;
    	border-color: #E8E7D7;
    	background-color: #FEFDF3;
}

}

main-title {
	font-family : "Nanum Myeongjo", serif;
	font-size: 4.286em; /* 60px */
	line-height: 0;
	padding: 0 0 0 0;
	color: #485744;
}
