/*- Typography -*/
//
// Based on the typographic scale: 12, 14, 16, 18, 21, 24, 36, 48, 60, 72.
//

body
{
  font-family : "Nanum Myeongjo", "Helvetica Neue", "Helvetica", "Arial", serif;
  font-style: normal;
  font-weight: 400;
  font-size   : 14px;
  color: #333;
}

/*- Typography for medium and small screen, based on 16px font-size -*/

p, ul, ol {
	font-size: .9em; /* 14px */
	line-height: 1.8em;
	margin-bottom: 1.5em; /* 24px/16px */
}

h1 {
	font-family : "Nanum Myeongjo", serif;
	font-size: 2.25em; /* 36px/16px */
	font-weight: 500;
	line-height: 1.8em;
	padding: 0.33335em 0; /* 12px/36px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

h2 {
	font-family : "Nanum Myeongjo", serif;
	font-size: 2.125em; /* 36px/18px */
	line-height: 1.8em;
	padding: 0.66667em 0 0 0; /* 12px/36px * 2, pnly top (Use padding instead of margin to maintain proximity with paragraph) */
}

h3 {
	font-size: 1.5em; /* 24px/18px */
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

h4 {
	font-size: 1.25em; /* 24px/18px */
	font-weight: 300;
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

h5 {
	font-size: 1em; /* 24px/18px */
	font-weight: 300;
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}
	
h6 {
	font-size: .9em; /* 24px/18px */
	font-weight: 600;
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

blockquote {
	font-size: .9em; /* 14pt */
	font-style: italic;
	font-wight: 100;
	color: #6B8E23;
	margin: 1.5em; /* 24px/18px */
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	    -ms-border-radius: 0px;
          border-radius: 0px;
	border-left: solid #556B2F;
	background-color: darken($background-color, 5%);
	padding: 0 1.5em; /* 24px/18px */
	p, ul, ol {
		padding: 1.5em 0; /* 24px/18px */
	}
}

/*- Typography for big screen, based on 18px font-size -*/

@media (min-width: 940px) { //Breakpoint set to 940px

p, ul, ol {
	font-size: .9em; /* 14px */
	line-height: 1.8em;
	margin-bottom: 1.3334em; /* 24px/18px */
}
hr { 
    	display: block;
    	margin-top: 0.5em;
    	margin-bottom: 0.5em;
    	margin-left: auto;
    	margin-right: auto;
    	border-style: inset;
    	border-width: .5px;
    	border-color: #B9E2AE;
} 

hr-dash { 
   	display: block;
    	margin-top: 0.5em;
    	margin-bottom: 0.5em;
    	margin-left: auto;
    	margin-right: auto;
    	border-style: inset;
	border-width: .5px;
	border-color: #B9E2AE;
	border-style: dashed;
}
	
header {
	font-family : "Nanum Myeongjo", serif;
	font-size: 4.286em; /* 60px */
	line-height: 0;
	padding: 0 0 0 0;
	color: #485744;
}
	
h1 {
	font-size: 3em; /* 42px/18px */
	font-weight: 500;
	line-height: 1.8em;
	padding: 0.25em 0; /* 12px/48px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

h2 {
	font-size: 2.143em; /* 30px */
	line-height: 1.8em;
	padding: 0.66667em 0 0 0; /* 12px/36px * 2, pnly top (Use padding instead of margin to maintain proximity with paragraph) */
}

h3 {
	font-size: 1.5em; /* 21px */
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

h4 {
	font-size: 1.286em; /* 18px */
	font-weight: 300;
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

h5 {
	font-size: 1em; /* 14px */
	font-weight: 300;
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}
	
h6 {
	font-size: .857em; /* 12px */
	font-weight: 600;
	line-height: 1.8em;
	padding: 0.5em 0; /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}
blockquote {
	font-size: .9em; /* 14pt */
	font-style: italic;
	font-wight: 100;
	color: #6B8E23;
	margin: 1.5em; /* 24px/18px */
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	    -ms-border-radius: 0px;
          border-radius: 0px;
	border-left: solid #556B2F;
	background-color: darken($background-color, 5%);
	padding: 0 1.5em; /* 24px/18px */
	p, ul, ol {
		padding: 1.5em 0; /* 24px/18px */
	}
}
}
