---
layout: default
---
<article id="portfolio-page">
	<h1>{{ page.header }}</h1>
	<div class ="w3-row block-head"> 
		<div class="w3-col w3-container m2 l3">
		</div>
		<div class="w3-col w3-container m8 l6">
			<h5>User Story</h5>
			{% for stories in page.portfolio %}
			<p>{{ portfolio.stories }}</p>
			{% endfor %}
		</div>
		<div class="w3-col w3-container m2 l3">
      		</div>
    	</div>
	

	<div class ="w3-row "> 
		<div class="w3-col w3-container m2 l3">
	  	</div>
	    	{% for tags in page.tags %}
		<div class="w3-col w3-container m8 l6">
			<pill>{{ page.tags }}</pill>
	      	</div>
		{% endfor %}
	      	<div class="w3-col w3-container m2 l3">
	      	</div>
	</div>

	<div class="content">

		{{ content }}
		
	</div>
</article>
